<%- include partials/header %>


  <div class="row">
      <div>
          <section class="panel">
              <header class="panel-heading">
                  Chỉnh Sửa Danh Mục Sản Phẩm Con
              </header>
              <div class="panel-body ">

                  <span style="font-size: 18px;color:red">* : yêu cầu</span>
                  <form action="./category-children-create" method="POST">
                    <input type="hidden" name="categoryId" value="<%= (typeof category != 'undefined') ? category._id : '' %>" />
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label for="txtCategoryNameVN">Tên Danh Mục(VN)  <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="txtCategoryNameVN" placeholder="Nước Hoa" value="<%- (typeof category != 'undefined') ? category.name_vn : '' %>" required/>
                          </div>
                          <div class="form-group">
                              <label for="txtCategoryNameEN">Tên Danh Mục(EN)  <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="txtCategoryNameEN" placeholder="Perfume" value="<%- (typeof category != 'undefined') ? category.name_en : '' %>" required/>
                          </div>
                          <div class="form-group">
                            <label for="parentId">Danh Mục Cha <span style="color:red">*</span></label>
                            <select class="form-control m-bot15" name="parentId">
                              <% categories.forEach((item, index) => {
                                %> <option value="<%= item._id %>"><%= item.name_vn %></option> <%
                              }) %>
                            </select>
                          </div>
                      </div>
                      <div class="col-lg-12">
                          <input type="submit" name="btnSubmit" class="btn btn-info" id="pulsate-regular" value="Tạo Danh Mục Sản Phẩm">
                      </div>
                  </form>
              </div>
          </section>

      </div>

  </div>



<!--footer start-->
<%- include partials/footer %>
