<%- include partials/header %>


        <div class="row">
            <div>
                <section class="panel">
                    <header class="panel-heading">
                        Thay Đổi Nội Dung Dịch Vụ
                    </header>
                    <div class="panel-body ">

                        <span style="font-size: 18px;color:red">* : yêu cầu</span>
                        <form action="/187_admin/service-edit" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="serviceId" value="<%= service._id %>" />
                            <div class="col-lg-12">
                              <div class="form-group">
                                  <label for="txtName">URL Dịch Vụ  <span style="color:red">*</span></label>
                                  <input type="text" class="form-control" name="txtNameURL" placeholder="URL Dịch Vụ " value="<%- (typeof service != 'undefined') ? service.name_url : ''%>" required/>
                              </div>
                              <div class="form-group">
                                  <label for="txtTitleSEO">Tiêu Đề (SEO) <span style="color:red">*</span></label>
                                  <input type="text" class="form-control" name="txtTitleSEO" placeholder="Tiêu Đề (SEO)" value="<%- (typeof service != 'undefined') ? service.title_SEO : ''%>" required/>
                              </div>
                              <div class="form-group">
                                  <label for="txtIcon">Icon <span style="color:red">*</span></label>
                                  <input type="text" class="form-control" name="txtIcon" placeholder="Icon" value="<%- (typeof service != 'undefined') ? service.icon : ''%>" required/>
                              </div>
                            </div>
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <label for="txtNameVN">Tên Dịch Vụ (VN)  <span style="color:red">*</span></label>
                                      <input type="text" class="form-control" name="txtNameVN" placeholder="Tên Dịch Vụ " value="<%- (typeof service != 'undefined') ? service.content_vn.name : ''%>" required/>
                                  </div>
                                  <div class="form-group">
                                      <label for="txtTitleVN">Tiêu Đề Dịch Vụ (VN)  <span style="color:red">*</span></label>
                                      <input type="text" class="form-control" name="txtTitleVN" placeholder="Tiêu Đề Dịch Vụ " value="<%- (typeof service != 'undefined') ? service.content_vn.title : ''%>" required/>
                                  </div>

                                  <div class="form-group">
                                      <label for="txtTimeVN">Ngày(Giờ) hoạt động (VN)  <span style="color:red">*</span></label>
                                      <input type="text" class="form-control" name="txtTimeVN" placeholder="Ngày(Giò) hoạt động" value="<%- (typeof service != 'undefined') ? service.content_vn.time : ''%>" required/>
                                  </div>
                                  <div class="form-group">
                                      <label for="txtPriceVN">Giá (VN) <span style="color:red">*</span></label>
                                      <input type="text" class="form-control" name="txtPriceVN" placeholder="Giá " value="<%- (typeof service != 'undefined') ? service.content_vn.price : ''%>" required/>
                                  </div>
                                  <div class="form-group">
                                      <label for="txtDurationVN">Thời lượng (VN) <span style="color:red">*</span></label>
                                      <input type="text" class="form-control" name="txtDurationVN" placeholder="Thời lượng" value="<%- (typeof service != 'undefined') ? service.content_vn.duration : ''%>" required/>
                                  </div>
                                  <div class="form-group">
                                      <label for="txtDescriptionVN">Mô tả (VN)  <span style="color:red">*</span></label>
                                      <input type="text" class="form-control" name="txtDescriptionVN" placeholder="Mô tả" value="<%- (typeof service != 'undefined') ? service.content_vn.description : ''%>" required/>
                                  </div>
                                  <div class="form-group">
                                      <label for="txtContentVN">Nội dung (VN)  <span style="color:red">*</span></label>
                                      <textarea type="text" name="txtContentVN" required><%- (typeof service != 'undefined') ? service.content_vn.content : ''%></textarea>
                                  </div>
                                  <div class="form-group">
                                      <label for="txtKeyWordVN">Từ khóa(SEO) (VN)  <span style="color:red">*</span></label>
                                      <div class="panel-body">
                                          <input name="txtKeyWordVN" id="tagsinput" class="tagsinput" value="<%- (typeof service != 'undefined') ? service.content_vn.keywords : ''%>" required/>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <label for="txtNameEN">Tên Dịch Vụ (EN)  <span style="color:red">*</span></label>
                                      <input type="text" class="form-control" name="txtNameEN" placeholder="Tên Dịch Vụ " value="<%- (typeof service != 'undefined') ? service.content_en.name : ''%>" required/>
                                  </div>
                                  <div class="form-group">
                                      <label for="txtTitleEN">Tiêu Đề Dịch Vụ (EN)  <span style="color:red">*</span></label>
                                      <input type="text" class="form-control" name="txtTitleEN" placeholder="Tiêu Đề Dịch Vụ " value="<%- (typeof service != 'undefined') ? service.content_en.title : ''%>" required/>
                                  </div>
                                  <div class="form-group">
                                      <label for="txtTimeEN">Ngày(Giờ) hoạt động (EN)  <span style="color:red">*</span></label>
                                      <input type="text" class="form-control" name="txtTimeEN" placeholder="Ngày(Giò) hoạt động" value="<%- (typeof service != 'undefined') ? service.content_en.time : ''%>" required/>
                                  </div>
                                  <div class="form-group">
                                      <label for="txtPriceEN">Giá (EN) <span style="color:red">*</span></label>
                                      <input type="text" class="form-control" name="txtPriceEN" placeholder="Giá " value="<%- (typeof service != 'undefined') ? service.content_en.price : ''%>" required/>
                                  </div>
                                  <div class="form-group">
                                      <label for="txtDurationEN">Thời lượng (EN) <span style="color:red">*</span></label>
                                      <input type="text" class="form-control" name="txtDurationEN" placeholder="Thời lượng" value="<%- (typeof service != 'undefined') ? service.content_en.duration : ''%>" required/>
                                  </div>
                                  <div class="form-group">
                                      <label for="txtDescriptionEN">Mô tả (EN)  <span style="color:red">*</span></label>
                                      <input type="text" class="form-control" name="txtDescriptionEN" placeholder="Mô tả" value="<%- (typeof service != 'undefined') ? service.content_en.description : ''%>" required/>
                                  </div>
                                  <div class="form-group">
                                      <label for="txtContentEN">Nội dung (EN)  <span style="color:red">*</span></label>
                                      <textarea type="text" name="txtContentEN" required><%- (typeof service != 'undefined') ? service.content_en.content : ''%></textarea>
                                  </div>
                                  <div class="form-group">
                                      <label for="txtKeyWordEN">Từ khóa(SEO) (EN)  <span style="color:red">*</span></label>
                                      <div class="panel-body">
                                          <input name="txtKeyWordEN" id="tagsinput" class="tagsinput" value="<%- (typeof service != 'undefined') ? service.content_en.keywords : ''%>" required/>
                                      </div>
                                  </div>
                              </div>

                            <div class="form-group last">
                                <label class="control-label col-md-3">Hình 1</label>
                                <div class="col-md-9">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="/uploads/<%= service.images[0] %>" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                               <span class="btn btn-white btn-file">
                               <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select image</span>
                               <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                               <input id="fImage1" name="fImage1" type="file" class="default" />
                               </span>
                                        </div>
                                    </div>
                                    <span class="label label-danger">NOTE!</span>
                                    <span>
                                     Attached image thumbnail is
                                     supported in Latest Firefox, Chrome, Opera, CocCoc,
                                     Safari and Internet Explorer 10 only
                                     </span>
                                </div>
                            </div>
                            <div class="form-group last">
                                <label class="control-label col-md-3">Hình 2</label>
                                <div class="col-md-9">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="/uploads/<%= service.images[1] %>" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                               <span class="btn btn-white btn-file">
                               <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select image</span>
                               <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                               <input id="fImage2" name="fImage2" type="file" class="default" />
                               </span>
                                        </div>
                                    </div>
                                    <span class="label label-danger">NOTE!</span>
                                    <span>
                                     Attached image thumbnail is
                                     supported in Latest Firefox, Chrome, Opera, CocCoc,
                                     Safari and Internet Explorer 10 only
                                     </span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input type="submit" name="btnSubmit" class="btn btn-info" id="pulsate-regular" value="Thay Đổi Dịch Vụ">
                            </div>
                        </form>
                    </div>
                </section>

            </div>

        </div>



<!--footer start-->
<%- include partials/footer %>
