<section class="service_section pt_90 pb_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title text-center">
                    <h3 class="color_72 fw_500 pb_10">Our Services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore etc.</p>
                </div>
            </div>
            <!--/col-->
        </div>
        <!--/row-->

        <div class="row">
            <div class="service_wrapper mt_65">

                <!-- service-1-->
                <% for(var i in services) {
                  if(services[i].isEnabled) {%>
                <div class="col-md-4 col-sm-6">
                    <div class="single_service">
                        <div class="img"><img src="/uploads/<%= services[i].images[0] %>" alt="service_img" class="img img-responsive"></div>
                        <div class="img_over_content text-center">
                            <i class="<%= services[i].icon %> color_d5 mb_10"></i>
                            <div class="divider"></div>
                            <a href="./service/<%= services[i].shortid %>" class="fw_500 color_33 mtb_15"><%= services[i].name %></a>
                            <p> <%= services[i].title %> </p>
                        </div>
                    </div>
                </div>
                <%}}%>
                <!--service-2-->
                <!-- <div class="col-md-4 col-sm-6">
                    <div class="single_service">
                        <div class="img"><img src="/images/service_img2.jpg" alt="service_img" class="img img-responsive"></div>
                        <div class="img_over_content text-center">
                            <i class="flaticon-spa color_d5 mb_10"></i>
                            <div class="divider"></div>
                            <a href="#" class="fw_500 color_33 mtb_15">Spa Process</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div> -->

                <!--service-3-->
                <!-- <div class="col-md-4 col-sm-6">
                    <div class="single_service">
                        <div class="img"><img src="/images/service_img3.jpg" alt="service_img" class="img img-responsive"></div>
                        <div class="img_over_content text-center">
                            <i class="flaticon-medical-1 color_d5 mb_10"></i>
                            <div class="divider"></div>
                            <a href="#" class="fw_500 color_33 mtb_15">Body Massage</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div> -->

                <!--service-4-->
                <!-- <div class="col-md-4 col-sm-6">
                    <div class="single_service">
                        <div class="img"><img src="/images/service_img4.jpg" alt="service_img" class="img img-responsive"></div>
                        <div class="img_over_content text-center">
                            <i class="flaticon-hairdryer color_d5 mb_10"></i>
                            <div class="divider"></div>
                            <a href="#" class="fw_500 color_33 mtb_15">Hair Treatment</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div> -->

                <!--service-5-->
                <!-- <div class="col-md-4 col-sm-6">
                    <div class="single_service">
                        <div class="img"><img src="/images/service_img5.jpg" alt="service_img" class="img img-responsive"></div>
                        <div class="img_over_content text-center">
                            <i class="flaticon-hand-wash color_d5 mb_10"></i>
                            <div class="divider"></div>
                            <a href="#" class="fw_500 color_33 mtb_15">Manicure & Pedicure</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div> -->

                <!--service-6-->
                <!-- <div class="col-md-4 col-sm-6">
                    <div class="single_service">
                        <div class="img"><img src="/images/service_img6.jpg" alt="service_img" class="img img-responsive"></div>
                        <div class="img_over_content text-center">
                            <i class="flaticon-relax color_d5 mb_10"></i>
                            <div class="divider"></div>
                            <a href="#" class="fw_500 color_33 mtb_15">Body Waxing</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div> -->
                <!--/col -->

            </div>
            <!--/service wrapper-->
        </div>
        <!--/row-->
    </div>
</section>
