<%- include partials/header %>

    <!-- =======================================
        ==Start banner section==
    =======================================-->
    <section class="banner_section service_banner">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_content">
                        <h4 class="fw_500 color_ff">Services We Offer</h4>
                        <p class="color_ff">Welcome to beauty lab, where you can relax and enjoy life.</p>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">service</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================================
        ==End banner section==
    =======================================-->

    <!-- =======================================
        ==Start Service section==
    =======================================-->
    <section class="service_section pt_90 pb_70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_title text-center">
                        <h3 class="color_72 fw_500 pb_10">Our Services</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore etc.</p>
                    </div>
                </div>
                <!--/col-->
            </div>
            <!--/row-->

            <div class="row">
                <div class="service_wrapper mt_65">

                    <!-- service-1-->
                    <% for(var i in services) {
                      if(services[i].isEnabled) {%>
                    <div class="col-md-4 col-sm-6">
                        <div class="single_service">
                            <div class="img"><img src="/uploads/<%= services[i].images[0] %>" alt="service_img" class="img img-responsive"></div>
                            <div class="img_over_content text-center">
                                <i class="<%= services[i].icon %> color_d5 mb_10"></i>
                                <div class="divider"></div>
                                <a href="./service/<%= services[i].shortid %>" class="fw_500 color_33 mtb_15"><%= services[i].name %></a>
                                <p> <%= services[i].title %> </p>
                            </div>
                        </div>
                    </div>
                    <%}}%>
                    <!--service-2-->
                    <!-- <div class="col-md-4 col-sm-6">
                        <div class="single_service">
                            <div class="img"><img src="/images/service_img2.jpg" alt="service_img" class="img img-responsive"></div>
                            <div class="img_over_content text-center">
                                <i class="flaticon-spa color_d5 mb_10"></i>
                                <div class="divider"></div>
                                <a href="#" class="fw_500 color_33 mtb_15">Spa Process</a>
                                <p>The power of golden ratio typography cannot be understated. </p>
                            </div>
                        </div>
                    </div> -->

                    <!--service-3-->
                    <!-- <div class="col-md-4 col-sm-6">
                        <div class="single_service">
                            <div class="img"><img src="/images/service_img3.jpg" alt="service_img" class="img img-responsive"></div>
                            <div class="img_over_content text-center">
                                <i class="flaticon-medical-1 color_d5 mb_10"></i>
                                <div class="divider"></div>
                                <a href="#" class="fw_500 color_33 mtb_15">Body Massage</a>
                                <p>The power of golden ratio typography cannot be understated. </p>
                            </div>
                        </div>
                    </div> -->

                    <!--service-4-->
                    <!-- <div class="col-md-4 col-sm-6">
                        <div class="single_service">
                            <div class="img"><img src="/images/service_img4.jpg" alt="service_img" class="img img-responsive"></div>
                            <div class="img_over_content text-center">
                                <i class="flaticon-hairdryer color_d5 mb_10"></i>
                                <div class="divider"></div>
                                <a href="#" class="fw_500 color_33 mtb_15">Hair Treatment</a>
                                <p>The power of golden ratio typography cannot be understated. </p>
                            </div>
                        </div>
                    </div> -->

                    <!--service-5-->
                    <!-- <div class="col-md-4 col-sm-6">
                        <div class="single_service">
                            <div class="img"><img src="/images/service_img5.jpg" alt="service_img" class="img img-responsive"></div>
                            <div class="img_over_content text-center">
                                <i class="flaticon-hand-wash color_d5 mb_10"></i>
                                <div class="divider"></div>
                                <a href="#" class="fw_500 color_33 mtb_15">Manicure & Pedicure</a>
                                <p>The power of golden ratio typography cannot be understated. </p>
                            </div>
                        </div>
                    </div> -->

                    <!--service-6-->
                    <!-- <div class="col-md-4 col-sm-6">
                        <div class="single_service">
                            <div class="img"><img src="/images/service_img6.jpg" alt="service_img" class="img img-responsive"></div>
                            <div class="img_over_content text-center">
                                <i class="flaticon-relax color_d5 mb_10"></i>
                                <div class="divider"></div>
                                <a href="#" class="fw_500 color_33 mtb_15">Body Waxing</a>
                                <p>The power of golden ratio typography cannot be understated. </p>
                            </div>
                        </div>
                    </div> -->
                    <!--/col -->

                </div>
                <!--/service wrapper-->
            </div>
            <!--/row-->
        </div>
    </section>
    <!-- =======================================
        ==End Service section==
    =======================================-->

    <!-- =======================================
        ==Start quick support section==
    =======================================-->
    <section class="quick_support_section">
        <div class="beautyLab_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12">
                    <div class="quick_support_wrapper clearfix">
                        <div class="single_support pull-left">
                            <i class="fa fa-comments-o"></i>
                            <div class="content">
                                <h6 class="color_72 pb_5 text-capitalize">Our Hotline</h6>
                                <p>(+880) 1800-111-333</p>
                            </div>
                        </div>

                        <div class="single_support pull-left">
                            <i class="flaticon-school-calendar"></i>
                            <div class="content">
                                <h6 class="color_72 pb_5 text-capitalize">We Are Open</h6>
                                <p>Mon - Fri : 09:00 - 18:00</p>
                            </div>
                        </div>

                        <div class="single_support social_link pull-left">
                            <div class="content text-center">
                                <h6 class="color_72 pb_10 text-capitalize">Follow Us</h6>
                                <ul>
                                    <li><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#" target="_blank" title="RSS"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/wrapper-->
                </div>
                <!--/col-->
            </div>
        </div>
    </section>
    <!-- =======================================
        ==End quick support section==
    =======================================-->

    <!-- =======================================
        ==Start specialize section==
    =======================================-->
    <section class="specialize_section pt_90 pb_50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_title pb_50 text-center">
                        <h3 class="color_72 fw_500 pb_10">We Specialize In</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et.</p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="expart_wrapper pos_relative">

                        <a id="popover1" tabindex="0" class="tooltipbar bar1" placement="top" role="button" data-trigger="focus">
                            <button class="btn1"></button>
                            <div class="span span1"></div>
                            <div class="span span1"></div>
                        </a>
                        <a id="popover2" tabindex="0" class="tooltipbar bar2" role="button" data-trigger="focus">
                            <button class="btn2"></button>
                            <div class="span span2"></div>
                            <div class="span span2"></div>
                        </a>
                        <a id="popover3" tabindex="0" class="tooltipbar bar3" role="button" data-trigger="focus">
                            <button class="btn3"></button>
                            <div class="span span3"></div>
                            <div class="span span3"></div>
                        </a>

                        <div id="popover_content1" class="hidden">
                            <a href="#" class="popover_title color_d5 fw_500 text-capitalize">Hair Treatment.</a>
                            <p>It is not always yourself who knows best what would fit you perfectly.</p>
                        </div>

                        <div id="popover_content2" class="hidden">
                            <a href="#" class="popover_title color_d5 fw_500 text-capitalize">Body Massaging.</a>
                            <p>It is not always yourself who knows best what would fit you perfectly.</p>
                        </div>

                        <div id="popover_content3" class="hidden">
                            <a href="#" class="popover_title color_d5 fw_500 text-capitalize">Skin Treatment.</a>
                            <p>It is not always yourself who knows best what would fit you perfectly.</p>
                        </div>

                        <img src="/images/service_img.png" alt="expart" class="img img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================================
        ==End specialize section==
    =======================================-->

    <!-- =======================================
        ==Start Testimonial section==
    =======================================-->
    <section class="testimonial_section ptb_90">
        <div class="testimonial_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <div class="section_title pb_60 text-center">
                        <h3 class="color_ff fw_500 pb_10">Testimonials</h3>
                    </div>

                    <div class="testimoial_wrapper owl-carousel">
                        <!--testimonial-1-->
                        <div class="single_testimonial text-center">
                            <a href="#"><img src="/images/author3.jpg" alt="author"></a>
                            <p class="testimoinal_txt color_ff pt_25">I just wanted to thank you for providing a great celebration party for me. Your staff did an excellent job and the Makeup was superb. Everyone was impressed.Thanks again!</p>
                            <div class="author color_ff"><a href="#">Thomas Jefferson</a><span>CEO of TF</span></div>
                        </div>

                        <!--testimonial-2-->
                        <div class="single_testimonial text-center">
                            <a href="#"><img src="/images/author1.jpg" alt="author"></a>
                            <p class="testimoinal_txt color_ff pt_25">I just wanted to thank you for providing a great celebration party for me. Your staff did an excellent job and the Makeup was superb. Everyone was impressed.Thanks again!</p>
                            <div class="author color_ff"><a href="#">Thomas Jefferson</a><span>CEO of TF</span></div>
                        </div>

                        <!--testimonial-3-->
                        <div class="single_testimonial text-center">
                            <a href="#"><img src="/images/author2.jpg" alt="author"></a>
                            <p class="testimoinal_txt color_ff pt_25">I just wanted to thank you for providing a great celebration party for me. Your staff did an excellent job and the Makeup was superb. Everyone was impressed.Thanks again!</p>
                            <div class="author color_ff"><a href="#">Thomas Jefferson</a><span>CEO of TF</span></div>
                        </div>
                        <!--/testimonial-->
                    </div>
                    <!--/testimoial wrapper-->
                </div>
                <!--/col-->
            </div>
        </div>
    </section>
    <!-- =======================================
        ==End Testimonial section==
    =======================================-->

    <!-- =======================================
        ==Start pricing plan section==
    =======================================-->
    <section class="price_plan_section ptb_90 ptb_xs_60 ptb_xxs_60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_title pb_60 text-center">
                        <h3 class="color_72 fw_500 pb_10">pricing plans</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et.</p>
                    </div>
                </div>
            </div>
            <!--/row-->

            <div class="row">
                <div class="col-md-12">
                    <div class="pricing_wrapper clearfix">

                        <!--plan-1-->
                        <div class="single_price_plan single_pack text-center pull-left">
                            <div class="price_header">
                                <h3 class="fw_300 color_33">Single Pack</h3>
                                <div class="price_divider"></div>
                                <p class="color_99">From <span class="color_d5 fw_700">$29</span> Per Months</p>
                            </div>
                            <div class="price_body">
                                <div class="price_content">
                                    <h6 class="color_33 fw_500"><i class="fa fa-check color_d5"></i>Entry from 2 pm to 8 pm</h6>
                                    <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                                </div>

                                <div class="price_content">
                                    <h6 class="color_33 fw_500"><i class="fa fa-check color_d5"></i>Manicure & pedicure 7x ses.</h6>
                                    <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                                </div>
                            </div>
                            <div class="price_footer">
                                <a href="E.html" class="get_start">Get Started Now</a>
                            </div>
                        </div>

                        <!--plan-2-->
                        <div class="single_price_plan premium text-center pull-left">
                            <div class="price_header">
                                <h3 class="fw_300 color_33">Premium</h3>
                                <div class="price_divider"></div>
                                <p class="color_99">From <span class="color_d5 fw_700">$49</span> Per Months</p>
                            </div>
                            <div class="price_body">
                                <div class="price_content">
                                    <h6 class="color_33 fw_500"><i class="fa fa-check color_d5"></i>Entry from 12 pm to 8 pm</h6>
                                    <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                                </div>
                                <div class="price_content">
                                    <h6 class="color_33 fw_500"><i class="fa fa-check color_d5"></i>Manicure & pedicure 8x ses.</h6>
                                    <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                                </div>
                            </div>
                            <div class="price_footer">
                                <a href="E.html" class="get_start">Get Started Now</a>
                            </div>
                        </div>

                        <!--plan-3-->
                        <div class="single_price_plan family_pack text-center pull-left">
                            <div class="price_header">
                                <h3 class="fw_300 color_33">Family Pack</h3>
                                <div class="price_divider"></div>
                                <p class="color_99">From <span class="color_d5 fw_700">$99</span> Per Months</p>
                            </div>
                            <div class="price_body">
                                <div class="price_content">
                                    <h6 class="color_33 fw_500"><i class="fa fa-check color_d5"></i>Entry from 10 pm to 8 pm</h6>
                                    <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                                </div>
                                <div class="price_content">
                                    <h6 class="color_33 fw_500"><i class="fa fa-check color_d5"></i>Body & foot massages</h6>
                                    <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                                </div>
                            </div>
                            <div class="price_footer">
                                <a href="E.html" class="get_start">Get Started Now</a>
                            </div>
                        </div>
                        <!--/single price plan-->
                    </div>
                    <!--/wrapper-->
                </div>
                <!--/col-->
            </div>
            <!--/row-->
        </div>
    </section>
    <!-- =======================================
        ==End pricing plan section==
    =======================================-->


<%- include partials/footer  %>
