<%- include partials/header %>

    <!-- =======================================
        ==Start banner section==
    =======================================-->
    <section class="banner_section service_banner">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_content">
                        <h4 class="fw_500 color_ff"><%= service.name %></h4>
                        <p class="color_ff"><%= service.title %></p>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="#">Service</a></li>
                        <li class="active"><%= service.name %></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================================
        ==End banner section==
    =======================================-->

    <!-- =======================================
        ==Start Treatment information section==
    =======================================-->
    <section class="treatment_info_section pt_90 pb_50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="info_content">
                        <h5 class="section_title color_72 fw_700 pos_relative pb_30">Treatment Informations</h5>
                        <ul>
                            <li><span class="fw_700">Time:</span> <%= service.time %></li>
                            <li><span class="fw_700">Price:</span> <%= service.price %></li>
                            <li><span class="fw_700">Duration:</span> <span class="color_d5"><%= service.duration %></span></li>
                        </ul>
                        <p class="info_details pt_15 pb_30"><%= service.description %></p>
                        <div class="quick_support_wrapper clearfix">
                            <div class="single_support pull-left">
                                <i class="fa fa-comments-o"></i>
                                <div class="content">
                                    <h6 class="color_72 pb_5 text-capitalize">Our Hotline</h6>
                                    <p>(+880) 1800-111-333</p>
                                </div>
                            </div>

                            <div class="single_support pull-left">
                                <i class="flaticon-school-calendar"></i>
                                <div class="content">
                                    <h6 class="color_72 pb_5 text-capitalize">We Are Open</h6>
                                    <p>Mon - Fri : 09:00 - 18:00</p>
                                </div>
                            </div>
                        </div>
                        <!--/wrapperr-->
                    </div>
                    <!--/content-->
                </div>
                <!--/col-->

                <div class="col-lg-5 col-lg-offset-1 col-md-5">
                    <div class="treatment_info_img pos_relative">
                        <img src="/uploads/<%= service.images[0] %>" alt="spa_treatments" class="img img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================================
        ==End Treatment information section==
    =======================================-->

    <!-- =======================================
        ==Start Treatment details section==
    =======================================-->
    <section class="treatment_details_section">
        <div class="container">
            <div class="row">
                <h5 class="section_title color_72 fw_700 pos_relative pb_30 pl_15 text-capitalize">Treatment Details</h5>

                <div class="col-md-7 col-md-push-5">
                    <div class="treatment_details">
                        <p><%- service.content %></p>
                        <a href="#" class="brochure color_d5 fw_700"><i class="fa fa-file-pdf-o"></i> Download Brochure</a>
                    </div>
                </div>
                <!--/col-->

                <div class="col-md-5 col-md-pull-7">
                    <div class="treatment_details_img pos_relative">
                        <img src="/uploads/<%= service.images[1] %>" alt="spa_bed" class="img img-responsive spa_bed">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================================
        ==End Treatment details section==
    =======================================-->

    <!-- =======================================
        ==Start related services section==
    =======================================-->
    <section class="related_service_section pt_50 pb_100">
        <div class="container">
            <div class="row">
                <h5 class="section_title color_72 fw_700 pos_relative pb_30 pl_15">Related Services </h5>

                <div class="col-md-4">
                    <div class="single_service pos_relative">
                        <img src="/images/service_img7.jpg" alt="service img" class="img img-responsive">
                        <div class="link_hover"><a href="#"><i class="fa fa-link color_ff"></i></a></div>
                        <h6><a href="#" class="color_d5">Beauty Treatment</a><span class="pull-right fw_500">$59</span></h6>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single_service pos_relative">
                        <img src="/images/service_img8.jpg" alt="service img" class="img img-responsive">
                        <div class="link_hover"><a href="#"><i class="fa fa-link color_ff"></i></a></div>
                        <h6><a href="#" class="color_d5">Spa Process</a><span class="pull-right fw_500">$70</span></h6>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single_service pos_relative">
                        <img src="/images/service_img9.jpg" alt="service img" class="img img-responsive">
                        <div class="link_hover"><a href="#"><i class="fa fa-link color_ff"></i></a></div>
                        <h6><a href="#" class="color_d5">Manicure & Pedicure</a><span class="pull-right fw_500">$40</span></h6>
                    </div>
                </div>
                <!--/col-->
            </div>
        </div>
    </section>
    <!-- =======================================
        ==End related services section==
    =======================================-->

<%- include partials/footer %>
